<label>From Select</label>
<div class="select-container" (click)="visible = true">
  Select Me
  <div class="select-options-container" *ngIf="visible">
    <div class="select-options"
         infinite-scroll
         [scrollWindow]="false"
         [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="100"
         (scrolled)="onScrollDown($event)">
      <div *ngFor="let option of options" class="select-option-item" (click)="onOptionSelect(option)">
        {{option}}
      </div>
    </div>
  </div>
</div>

<br/>
<label>From bootstrap select</label>
<div class="col">
  <div ngbDropdown class="d-inline-block" [autoClose]="false">
    <button class="btn btn-outline" id="dropdownBasic1" ngbDropdownToggle>Select Me</button>
    
    <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
      <input #myInput placeholder="Paste name..." (input)="filterItem(myInput.value)" />
      <div class="select-options"
           infinite-scroll
           [scrollWindow]="false"
           [infiniteScrollDistance]="2"
           [infiniteScrollThrottle]="100"
           (scrolled)="onScrollDown($event)">
        <span *ngFor="let option of options" class="button dropdown-item" 
              [innerText]="getOptionLabel(option)" 
              (click)="onOptionSelect(option)"></span>
      </div>
    </div>
    </div>
</div>
