.paged-select-dropdown-menu {
  width: 100%;
}
.paged-select-search {
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 0rem 0.5rem 0.5rem 0.5rem;
}
.paged-select-scroll {
  overflow-y: scroll;
}

.paged-select-delete-result-btn{
  font-size: 1.2rem;
  float: none;
}

  .paged-select-result-label{
  padding:0rem 0.7rem 0rem 0rem;
}

.paged-select-spinner{
  width:5%;
  height:5%;
  display: block;
  margin: 0 auto;
}