<div #dropdownEl class="dropdown paged-select">
  <div class="input-group" (click)="onClickSelect()">
    <span #mainButton  class="form-control"
          id="dropdownMenuButton" aria-expanded="false">{{placeholder}}</span>
    <span class="dropdown-toggle input-group-addon"></span>  
  </div>

  <div #dropdownMenuEl
       class="dropdown-menu">
    <div class="search-container">
      <input #searchInputEl type="search" autofocus class="form-control ds-input" placeholder="Search..."
             (input)="search.next(searchInputEl.value)" (keydown)="onKeyDown($event)">
    </div>
    <div #scrollEl
         class="scroll-container"
         infinite-scroll
         [scrollWindow]="false"
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="100"
         (scrolled)="onScrollDown($event)">
      <span #dropdownItemEl class="dropdown-item" *ngFor="let option of options"           
            (click)="onOptionSelect(option)"
            (mouseenter)="onMouseOver(option)" >
          <input type="checkbox" *ngIf="multiple" [checked]="placeholder.indexOf(getOptionLabel(option)) != -1"/>  
          <span [innerText]="getOptionLabel(option)"></span>
      </span>
    </div>
  </div>
  </div>
