<div #dropdownEl class="dropdown paged-select">
  <div class="input-group" (click)="onClickSelect()">
    <span #mainButton  class="form-control"
          id="dropdownMenuButton" aria-expanded="false">
        <div [hidden]="resultOptions.length>0">{{placeholder}}</div>
        <div *ngFor="let result of resultOptions">
            <div>
                <button
                class="btn btn-outline-primary btn-sm delete-result-btn" type="button" (click)="deleteResult(result); $event.stopPropagation()">x</button>
                <span class="result-label">{{getOptionLabel(result)}}</span>
            </div>
        </div>
    </span>
    <span class="dropdown-toggle input-group-addon"></span>  
  </div>

  <div #dropdownMenuEl
       class="dropdown-menu">
    <div class="search-container">
      <input #searchInputEl type="search" autofocus class="form-control ds-input" placeholder="Search..."
             (input)="search.next(searchInputEl.value)" (keydown)="onKeyDown($event)">
    </div>
    <div #scrollEl
         class="scroll-container"
         infinite-scroll
         [scrollWindow]="false"
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="100"
         (scrolled)="onScrollDown($event)">
      <span #dropdownItemEl class="dropdown-item" *ngFor="let option of options"           
            (click)="onOptionSelect(option)"
            (mouseenter)="onMouseOver(option)" >
          <input type="checkbox" *ngIf="multiple" [checked]="resultOptions.indexOf(option) != -1"/>  
          <span [innerText]="getOptionLabel(option)"></span>
      </span>
    </div>
  </div>
  </div>
